@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
    background-color: black;
    overflow: hidden;
}

.container {
    perspective: 200px;
    position: relative;
    height: 60vh;
    margin: 0 260px;
    text-align: center;
    }

.content {
    position: absolute;
    bottom: 0px;
    color: yellow;
    font-family: 'Open Sans', sans-serif;
    animation: my-animation 30s infinite;
    animation-timing-function: ease-in-out;
    
    
    }

h1 {
    font-size: 50px;
}

h2 {
    font-size: 48px;
}

article {
    font-size: 46px;
}


@keyframes my-animation {
    0%{
        transform: rotateX(9deg) translateX(0) translateY(800px);
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: rotateX(12deg) translateX(0) translateY(-1000px);
        opacity: 0;
    }
}

